<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <ul class="nav-bar">
            <li><a href="/home">Home</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <h1>Keanu Reeves</h1>
        <img src="/images/keanu-01.jpeg" alt="keanu">

    </div>
</body>
</html>