<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/styles.css" rel="stylesheet">
    <title>Photo Gallery</title>
</head>
<body>
    <ul class="nav-bar">
        <li><a href="/home">Home</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <h1 class="works-h1">Photo Gallery</h1>
    <section class="gallery-section">
        <img src="/images/gallery/k1.jpg"> 
        <img src="/images/gallery/k2.webp"> 
        <img src="/images/gallery/k3.jpg"> 
        <img src="/images/gallery/k4.jpg"> 
        <img src="/images/gallery/k5.jpg"> 
        <img src="/images/gallery/k6.jpg"> 
        <img src="/images/gallery/k7.jpg"> 
        <img src="/images/gallery/k8.webp"> 
        <img src="/images/gallery/k9.jpg"> 
        

    </section>
</body>
</html>