<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/styles.css" rel="stylesheet">
    <title>Works</title>
</head>

<body>
    <ul class="nav-bar">
        <li><a href="/home">Home</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <h1 class="works-h1">Works</h2>
    <section>

        <div>
            <h3>Matrix</h3>
            <img class="movie-img" src="/images/matrix-01.jpg">
        </div>
        <div>
            <h3>Speed</h3>
            <img class="movie-img" src="/images/speed-01.jpg">
        </div>
        <div>
            <h3>John Wick</h3>
            <img class="movie-img" src="/images/john-wick-01.png">
        </div>
        <div>
            <h3>Constantine</h3>
            <img class="movie-img" src="/images/constantine-01.jpg">
        </div>
    </section>
</body>

</html>