body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding: 0;
}

.movie-img {
  height: 500px;
}
section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

.nav-bar{
    display: flex;
    list-style: none;
    background-color: lightsteelblue;
    margin:0;
    padding: 30px;
}

.nav-bar li{
    margin-left: 20px;
}

.nav-bar a{
    font-size: 1.4em;
    text-decoration: none;
}
.works-h1{
    text-align: center;
    font-size: 40px;
}

.gallery-section{
    margin:auto;
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.gallery-section img{
    width:280px;
    height: 280px;
    border: 3px solid lightblue;
    border-radius: 10px;
}

.about-container{
    margin:auto;
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;

}

.about-container img{
    width: 400px;
}

.about-container  p{
    font-size: 1.4em;
    text-align: center;
}

.index-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin:100px auto;
}
.index-container h1{
    font-size: 3em;
}
.index-container img{
    width: 400px;
}